<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lyft</title>
  <link rel="stylesheet" href="../css/materialize.min.css">
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <nav class="container nav-container">
    <div class="nav-wrapper">
      <a href="../views/login.html"><i class="large material-icons">keyboard_arrow_left</i></a>
      <h3 class="titulo-nav">Sign up</h3>
      <p class="titulo-nav titulo-parrafo">Join now for free ride credit</p>
    </div>
  </nav>
  <section class="container-datos">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Placeholder" id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
      </form>
    </div>
  </section>
  <footer>
    <a class="lyft-button" href="../views/pide-lyft.html">Next</a>
  </footer>
  <script src="../js/jquery-3.2.1.min.js"></script>
  <script src="../js/materialize.min.js"></script>
  <script src="../js/app.js"></script>
</body>
</html>
